/* styles.css */

/* Changer la couleur de fond de la page */
body {
    background-color: #f0f0f0;
    /* Remplacez cette couleur par celle de votre choix */
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
}

select#selection {
    font-size: 18px;
    /* Modifiez cette valeur selon la taille souhaitée */
}

.container {
    max-width: 800px;
    /* Largeur maximale du conteneur */
    width: 100%;
    padding: 20px;
    text-align: center;
    display: grid;
    grid-template-rows: auto;
    grid-gap: 20px;
}

.title {
    color: #336699;
    /* Couleur du titre */
    margin-top: 20px;
}

.header img {
    width: 90px;
    height: auto;
    margin-top: 0px;
    margin-left: 0px;
}

form p {
    font-weight: bold;
    /* Mettre en gras le texte du paragraphe */
}